{% extends 'template.html' %}


{% block content %}

    <h1 class='title'>
        {% block title %} 
            Interactions
        {% endblock %}
    </h1>
        <p>Below is all the data this C2 Server has collected this session.</br>
        GET /collect/{{ session['identifier'] }}?[data]</p>
        <form style="padding: -7px;" method="POST" action="/clear">
            <button type="submit">Clear Data</button>
            <button onclick="window.location='/view'" type="button">Refresh</button>
        </form>
        </br></br>
        <table style="width: 100%;">
            <tr>
                <td style="text-decoration: underline;">Date</td>
                <td style="text-decoration: underline;">Remote IP</td>
                <td style="text-decoration: underline;">Method</td>
                <td style="text-decoration: underline;">Data</td>
            </tr>
        {%for i in content%}
            <tr>
                <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>
                <td>{{i[3]}}</td>
            </tr>
        {% endfor %}
        </table>
{% endblock %}