:root {
  background: #31363F;
  font-family: Arial, Helvetica, sans-serif;

}



html,
body {
  height: 100%;
}

h2 {
  color:white;
}

p {
  color:white;
}

html {
  display: table;
  margin: auto;
}

button {
  padding: 4px;
}

body {
  align-content: top;
  display: table-cell;
  width: 75%;
  vertical-align: middle;
}



.content {
  background-color: rgb(38 38 38);
  padding: 10px;
  width: 75%;
  height: 60%;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 5px;
  height: 100%;
  width: 250px;
  background-color: #222831;
  padding:20px;
  border-right: 1px solid #EEEEEE;
}

a {
  text-decoration: none;
  color:#76ABAE;
}

a:hover {
  color: #8cc8cb;
}
.main {
  font-size: 16px;
  letter-spacing: 1.6px;
  word-spacing: 1px;
  color: #ffffff;
}

.primary-button {
  margin:0;
  margin-top: 10px;
  background-color: #76ABAE;
  border: none;
  color: white;
  width:fit-content;
  min-width: 180px;
  padding:10px;
  height: 40px;
  font-size: 15px;
}

.primary-button:hover {
  cursor:pointer;
  background-color: #8cc8cb;
}

.primary-text-input-small {
  width: 200px;
  height: 40px;
  margin:0;
  background-color: transparent;
  border: 1px solid white;
  padding: 5px;
  color: white;
  font-size: 15px;
}
.primary-text-input-small:hover {
  background-color: #31363F;
}

.primary-text-input-large {
  width: 100%;
  margin:0;
  height: 150px;
  background-color: transparent;
  border: 1px solid white;
  padding: 5px;
  color: white;
}
.primary-text-input-large:hover {
  background-color: #31363F;
}

.primary-dropdown{
  background-color: transparent;
  border-radius: 0;
  color: white;
  padding: 10px;
  border:1px solid white;
}

label {
  margin-bottom: 10px;
}

.nav-element{
  width:100%;
  height:80px;
  display: flex;
  align-items: center;
  color:white;
}

.nav-element:hover{
  color:#8CC8CB;
}


.material-symbols-outlined {
  margin-right: 15px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24

}
