:root {
  background: #31363F;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}

h2 {
  color: white;
}

p {
  color: white;
}

html {
  display: table;
  margin: auto;
}

button {
  padding: 4px;
}

body {
  align-content: top;
  display: table-cell;
  width: 75%;
  vertical-align: middle;
}

.content {
  background-color: rgb(38 38 38);
  padding: 10px;
  width: 75%;
  height: 60%;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0px;
  height: 100%;
  width: 250px;
  background-color: #222831;
  padding: 20px;
  border-right: 1px solid #EEEEEE;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 10px;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
}

.main {
  font-size: 16px;
  letter-spacing: 1.6px;
  word-spacing: 1px;
  color: #ffffff;
  margin-left: 300px;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 45px;
  }

  .sidebar ul li {
    text-align: center;
  }

  .nav-text {
    display: none;
  }

  .main {
    margin-left: 95px;
  }
}

a {
  text-decoration: none;
  color: #76ABAE;
}

a:hover {
  color: #8cc8cb;
}

.primary-button {
  margin: 0;
  margin-top: 10px;
  background-color: #76ABAE;
  border: none;
  color: white;
  width: fit-content;
  min-width: 180px;
  padding: 10px;
  height: 40px;
  font-size: 15px;
}

.primary-button:hover {
  cursor: pointer;
  background-color: #8cc8cb;
}

.primary-text-input-small {
  width: 200px;
  height: 40px;
  margin: 0;
  background-color: transparent;
  border: 1px solid white;
  padding: 5px;
  color: white;
  font-size: 15px;
}

.primary-text-input-small:hover {
  background-color: #222222;
}

.primary-text-input-small:focus {
  background-color: #222222;
}

.primary-text-input-medium {
  width: 400px;
  height: 80px;
  margin: 0;
  word-wrap: break-word;
  white-space: normal;
  background-color: transparent;
  border: 1px solid white;
  padding: 5px;
  color: white;
  font-size: 15px;
}

.primary-text-input-medium:hover {
  background-color: #222222;
}

.primary-text-input-medium:focus {
  background-color: #222222;
}

.primary-text-input-large {
  width: 100%;
  margin: 0;
  height: 150px;
  background-color: transparent;
  border: 1px solid white;
  padding: 5px;
  color: white;
}

.primary-text-input-large:hover {
  background-color: #222222;
}

.primary-text-input-large:focus {
  background-color: #222222;
}

.primary-dropdown {
  background-color: transparent;
  border-radius: 0;
  color: white;
  padding: 10px;
  border: 1px solid white;
}

label {
  margin-bottom: 10px;
}

.nav-element {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  color: white;
}

.nav-element:hover {
  color: #8CC8CB;
}

.material-symbols-outlined {
  margin-right: 15px;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* Form-specific styles */
.form-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(38, 38, 38);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.form-container .form-group {
  margin-bottom: 20px;
}

.form-container .form-group label {
  color: white;
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

.form-container .form-group input,
.form-container .form-group textarea {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  font-size: 16px;
}

.form-container .form-group input:focus,
.form-container .form-group textarea:focus {
  background-color: #222222;
  outline: none;
}

.form-container .primary-text-input-small {
  height: 40px;
}

.form-container .primary-text-input-medium {
  height: 100px;
  resize: vertical;
}



.form-container .primary-button {
  background-color: #76ABAE;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 10px;
}

.form-container .primary-button:hover {
  background-color: #8cc8cb;
}

.form-container .delete-button {
  background-color: #d9534f;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 10px;
}

.form-container .delete-button:hover {
  background-color: #c9302c;
}


.form-container .form-actions {
  text-align: center;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .form-container {
    padding: 15px;
    width: 90%;
  }

  .form-container .form-group input,
  .form-container .form-group textarea {
    font-size: 14px;
  }

  .form-container .primary-button {
    width: 100%;
    margin-bottom: 10px;
  }
  
}

.form-container .form-row {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Spacing between the two fields */
}

.form-container .form-row .form-group {
  flex: 1;
}

.form-container .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* Delete button styles */

