<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/accordian.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <script src="{{ url_for('static', filename='js/endpoints.js') }}"></script>
</head>

{% extends 'template.html' %}

{% block content %}

    <h1 class='title'>
        {% block title %} 
            Endpoints Management
        {% endblock %}
    </h1>
    
    <p>Manage your API endpoints below. Requests to https://{{ host }}/e/&lt;endpoint&gt; will interact with the configured endpoints.</br></br>
    </p>

    <div id="endpoint_container"></div>
    
    <div id="editModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <form method="" action="">
                <label for="endpoint_name" style="margin-bottom:10px;">Endpoint Name:</label><br>
                <input class="primary-text-input-small" id="endpoint_name" placeholder="Endpoint Name" name="name" value=""/>
                <input style="display: none;" id="endpoint_id" name="endpoint_id" />
                </br></br>
    
                <label for="endpoint_url" style="margin-bottom:10px;">Endpoint URL:</label><br>
                <input class="primary-text-input-small" id="endpoint_url" name="url" placeholder="your-endpoint"/>
                </br></br>

                <label for="endpoint_description" style="margin-bottom:10px;">Endpoint URL:</label><br>
                <input class="primary-text-input-medium" id="endpoint_description" name="url" placeholder="The description"/>
                </br></br>
    
                <label for="endpoint_method" style="margin-bottom:10px;">HTTP Method:</label><br>
                <select id="endpoint_method" name="method" class="primary-dropdown">
                    <option value="GET">GET</option>
                    <option value="POST">POST</option>
                    <option value="PUT">PUT</option>
                    <option value="DELETE">DELETE</option>
                </select>
                </br></br>
                <select id="presaved" name="payload" class="primary-dropdown"></select>
    
                </br></br>
                <button class="primary-button" type="button" id="save_button" onclick="saveEndpoint()">Save</button>
            </form>
        </div>
    </div>
    
    

{% endblock %}
