<head>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/login.css') }}">
</head>
{% extends 'template.html' %}


{% block content %}

    <h1>
        {% block title %} 
            Login
        {% endblock %}
    </h1>
    <p>
        {% if error == 1 %}
            Either your username was not recognised,</br> or your password was incorrect.
        {% else %}
            Please Login below, or <a href='/register'>Register</a>
        {% endif %} 
    </p>
    <form method="POST" action="/login">
        <label for="username" >Username</label><br>
        <input name="username" class="login-input"/></br>
        <label for="password">Password</label><br>
        <input  name="password" type="password" class="login-input"/></br>
        <input type="submit" value="Log In" class='login-button'/>
    </form>
{% endblock %}