<head>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/login.css') }}">
</head>

{% extends 'template.html' %}


{% block content %}

    <h1 class='title'>
        {% block title %} 
            Register
        {% endblock %}
    </h1>
    <p>
        {% if error == 1 %}
            Hmm, an error occured.
        {% elif error == 2 %}
            You're a security consultant, pick a slightly better password please.
        {% else %}
            Please use the form below to register an account.
        {% endif %} 
    </p>
    <form method="POST" action="/register">
        <input placeholder="Username" name="username" class="login-input"/></br>
        <input placeholder="Password" name="password" type="password" class="login-input"/></br>
        <input type="submit" value="Log In" class='login-button'/>
    </form>
{% endblock %}