{% extends 'template.html' %}


{% block content %}

    <h1 class='title'>
        {% block title %} 
            Register
        {% endblock %}
    </h1>
    <p>
        {% if error == 1 %}
            Hmm, an error occured.
        {% elif error == 2 %}
            You're a security consultant, pick a better password please.
        {% else %}
            Please use the form below to register an account.
        {% endif %} 
    </p>
    <form method="POST" action="/register">
        <input placeholder="Username" name="username"/></br>
        <input placeholder="Password" name="password" type="password"/></br>
        <input type="submit" value="Log In" />
    </form>
{% endblock %}