<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ace.css') }}">
</head>

{% extends 'template.html' %}


{% block content %}

    <h1 class='title'>
        {% block title %} 
            Payloads
        {% endblock %}
    </h1>
        <p>Save a script below, and requests to https://{{ host }}/{{ session['identifier'] }}/serve.js will return it</br></br>
        You can also load a presaved script here: <select id="presaved" class='primary-dropdown'  name="presaved" onchange="populate(this);">
            {%for i in content%}
                <option value="{{i[1]}}">{{i[0]}}</option>
            {%endfor%}
            <option value="">--New--</option>
        </select>
    </p>
        <form method="" action="">
            <label for="script_name" style="margin-bottom:10px;">Script Name:</label><br>
            <input class="primary-text-input-small" id="script_name" placeholder="Script Name" name="name"/>
            <input style="display: none;" id="uuid" name="uuid" value=""/>
            </br></br>
            <label for="script_description" style="margin-bottom:10px;">Script Description:</label><br>
            <textarea class="primary-text-input-medium" id="script_description" placeholder="Script Description" name="description"></textarea>
            </br></br>
            <label for="the_script" style="margin-bottom:10px;">Script:</label><br>
            <div id="the_script" name="" rows="5" cols="70" autofocus></div>
            <button class="primary-button" type="button" id="save_button" onclick="save_script()">Save</button>
            <button class='primary-button' type="button" id="publish_button" onclick="publish_script_locally()">Publish Script</button>
        </form>
        </br></br>
    
    <script src="{{ url_for('static', filename='js/scripts.js') }}" type="text/javascript" charset="utf-8">
    </script>
    <script src="{{ url_for('static', filename='js/ace-src-min-noconflict/ace.js') }}" type="text/javascript" charset="utf-8">
    </script>
    <script src="{{ url_for('static', filename='js/ace-src-min-noconflict/mode-javascript.js') }}" type="text/javascript" charset="utf-8">
    </script>
    <script src="{{ url_for('static', filename='js/ace-src-min-noconflict/theme-twilight.js') }}" type="text/javascript" charset="utf-8">
    </script>
    <script>
        var editor = ace.edit("the_script");
        var JavaScriptMode = ace.require("ace/mode/javascript").Mode;
        editor.setTheme("ace/theme/twilight");
        editor.session.setMode(new JavaScriptMode());
    </script>

{% endblock %}