<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>C2 - {% block title %} {% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}" />
        <script src="{{ url_for('static', filename='js/resize.js') }}"></script>
    </head>
    <body>
        <div class="sidebar">
            <a href="/">
                <h2>
                    <span id="nav-title" class="nav-title">Command and Control</span>
                </h2>
            </a>
        <p >
            <ul>
            <nav class='nav'>
                {% if session['name'] %}
                <li>
                    <a href="/view">
                        <div class='nav-element'>
                            <span class="material-symbols-outlined">visibility</span>
                            <span class="nav-text">View Interactions</span>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="/script">
                        <div class='nav-element'>
                            <span class="material-symbols-outlined">manage_search</span>
                            <span class="nav-text">Manage Payloads</span>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="/logout">
                        <div class='nav-element'>
                            <span class="material-symbols-outlined">logout</span>
                            <span class="nav-text">Log Out</span>
                        </div>
                    </a>
                </li>
                {% else %}
                <li>
                    <a href="/login">
                        <div class='nav-element'>
                            <span class="material-symbols-outlined">login</span>
                            <span class="nav-text">Login</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/register">
                        <div class='nav-element'>
                            <span class="material-symbols-outlined">how_to_reg</span>
                            <span class="nav-text">Register</span>
                        </div>
                    </a>
                </li>
                {% endif %}

            </nav>
        </ul>
        </p>
        </div>
        <div class="main">
        {% block content %} {% endblock %}
        </div>
    </body>
</html>